body {
    color: white;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #1D2F30;
}
.container{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
nav {
    background-color: #1D2F30;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 60px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav > div {
    margin-right: 64px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons > div {
    margin-right: 64px;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 60px;
}
.title{
    font-size: 60px;
    margin-top: 115px;
    width: 680px;
    font-family: "Cormorant", serif;
    font-weight: bold;
}
.text{
    width: 635px;
    line-height: 150%;
    font-size: 19px;
}
.research{
    color: #BAE249;
    margin-top: 24px;
    padding-bottom: 115px;
}
.research_text{
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
}
.shade{
    background-color: rgba(3, 26, 22, 0.5);
    padding-top: 1px;
}
.shade2{
    background-color: rgba(3, 26, 22, 0.5);
    padding-top: 1px;
}
.card{
    width: 255px;
    border: 1px solid #0B1919;
}
.card_background{
    background-color: #0B1919;
    height: 180px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card p {
    color: #899D9D;
    height: 168px;
}
.card h3{
    font-family: 'Cormorant', serif;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn{
    border: 1px solid #BAE249;
    color: #BAE249;
    background-color: #1D2F30;
    padding: 10.5px 28.5px;
    margin-bottom: 24px;
}
.card > p, h3, button{
    margin-right: 16px;
    margin-left: 16px;
}
.cards {
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1100px;
}
.number{
    position: absolute;
    top: 16px;
    left: 16px;
}
.slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center center;
    font-size: 24px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.slider h3{
    margin: 0;
    font-family: 'Cormorant', serif;
    text-align: center;
}
.heading{
    font-family: 'Cormorant', serif;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
}
.artefacts_background{
    width: 825px;
    height: 493px;
    background-color: #0B1919;
    position: relative;
}
.new_artefacts{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.artefact{
    position: absolute;
}
.artefact.moss1{
    top: 16px;
    left: 16px;
}
.artefact.moss2{
    top: 16px;
    left: 165px;
}
.artefact.log{
    top: 16px;
    right: 16px;
}
.artefact.geranium{
    bottom: 16px;
    left: 16px;
}
.artefact.polypody{
    left: 285px;
    bottom: 16px;
}
.artefact.bark{
    right: 187px;
    bottom: 16px;
}
.artefact.blossom{
    right: 16px;
    bottom: 16px;
}
.artefact_number{
    position: absolute;
}
.artefact_number.one{
    top: 142px;
    left: 16px;
}
.artefact_number.two{
    left: 324px;
    top: 16px;
}
.artefact_number.three{
    top: 50px;
    right: 285px;
}
.artefact_number.four{
    bottom: 98px;
    left: 156px;
}
.artefact_number.five{
    bottom: 16px;
    left: 394px;
}
.artefact_number.six{
    right: 179px;
    top: 184px;
}
.artefact_number.seven{
    bottom: 16px;
    right: 56px;
}
.artefacts_desc{
    background-color: #BAE249;
    width: 255px;
    height: 493px;
    color: #1D2F30;
    padding: 16px;
    line-height: 150%;
    box-sizing: border-box;
}
.artefacts_desc h3{
    font-family: 'Cormorant', serif;
    font-size: 24px;
    margin: 10px 0;
}
.artefacts_desc p{
    font-weight: lighter;
    width: 223px;
}
.read_next{
    margin-top: 75px;
    display: flex;
    place-items: center center;
    width: 166px;
}
.read_next p{
    font-weight: 700;
    margin: 0;
}
input{
    display: block;
}
.name, .email{
    margin-bottom: 24px;
    width: 350px;
    height: 45px;
    padding: 16px;
    box-sizing: border-box;
    border: none;
}
.submit{
    width: 145px;
    height: 45px;
    background-color: #BAE249;
    color: #0B1919;
    padding: 11.5px 26px;
    font-weight: 900;
    border: none;
}
.help p {
    margin: 0;
    margin-bottom: 24px;
    width: 825px;
}
.help h2{
    margin-bottom: 16px;
}
.help_project{
    background-image: url(images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.help{
    padding-bottom: 60px;
}
.footer{
    background-color: #0B1919;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials img{
    margin-right: 30px;
}
footer{
    height: 79px;
    background-color: #1D2F30;
    color: #899D9D;
    text-align: center;
}
footer p{
    margin: 0;
}
.nav > div:hover{
    color: #BAE249;
    cursor: pointer;
}
.nav > div:active{
    color: #688B05;
}
.btn:hover{
    background-color: #BAE249;
    color: #0B1919;
}
.btn:focus{
    border: 1px double #83A440;
}
.btn:active{
    background-color: #688B05;
    color: #0B1919;
}
.btn{
    cursor: pointer;
}